body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;

}

.form-flex {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
    padding: 1rem;
    width: fit-content;
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    width: 100vw;
    height: 50px;
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

.space {
    margin: 0.5rem;
    margin-right: auto;
    margin-left: auto;
}

.main-index {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 3rem;
}

.button {
    border-radius: 10px;

}
